#AddGroupButton{
-fx-font-weight:bold;
-fx-background-color:#007BFF;
-fx-text-fill:white;
-fx-font-size:15px;
}
#backButton{
-fx-font-weight:bold;
-fx-background-color:#4CAF50;
-fx-text-fill:white;
-fx-font-size:14px;
}
#groupNameField{
-fx-background-radius:8;
-fx-padding:10;
-fx-font-size:10;
}