#login_text{
-fx-font-weight:bold;
-fx-font-size:30px;
-fx-text-fill: Black;
-fx-font-weight:bold;

}
#login{
-fx-font-weight:bold;
-fx-background-color:#007BFF;
-fx-text-fill:white;
-fx-font-size:20px;
}
.text-field {
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-font-size: 14px;
    -fx-width:10px;
}
#sign_up{
-fx-font-weight:bold;
-fx-font-size:30px;
-fx-text-fill: Black;
-fx-font-weight:bold;
}
#SignUpButton{
-fx-font-weight:bold;
-fx-background-color:#007BFF;
-fx-text-fill:white;
-fx-font-size:20px;

}