.label{
-fx-font-weight:bold;
-fx-font-size:20px;
}
#Username{
-fx-background-radius:10;
-fx-padding: 10;
-fx-font-size: 14px;
-fx-width:10px;
}
.button{
-fx-font-weight:bold;
-fx-background-color:#007BFF;
-fx-text-fill:white;
-fx-font-size:20px;}