.button{
-fx-background-color: #4CAF50;
-fx-text-fill:white;
-fx-font-size:14px;
-fx-font-weight:bold;
-fx-padding:5px;
-fx-border:no-border;
}
.navbar {
    -fx-background-color: black;
}
.navbar-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: transparent;

}
.navbar-button:hover{
-fx-background-color:gray;
}